<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peek_mapdemotest.nurseapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.CheckOrderActivity"
            android:label="查询订单">

        </activity>

        <activity
            android:name=".Activity.checkActivity"
            android:label="查询结果" />
        <activity
            android:name=".Activity.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:label="订单详情" />

        <activity
            android:name=".Activity.payActivity"
            android:screenOrientation="portrait"
            android:label="支付服务"
            />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>

        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity android:name=".Activity.NurseActivity" />
        <activity android:name=".Activity.NurseDetailActivity" />
        <activity android:name=".Activity.AppointmentActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.UserHomeActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.InternalMedicineActivity" />
        <activity android:name=".Activity.ChirurgeryActivity" />
        <activity android:name=".Activity.GynaecologyActivity" />
        <activity android:name=".Activity.addPatientActivity" />
        <activity android:name=".Activity.ModifyMessageActivity"></activity>
    </application>

</manifest>